/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.slide-image {
	width: 100%;
	overflow:hidden;
}

.carousel-inner {
    height: 300px;
}

.carousel-holder {
	margin-bottom: 30px;
}

.carousel-control, .item {
	border-radius: 4px;
}

.caption {
	height: 130px;
	overflow: hidden;
}

.row h2.category {
	border-bottom: 1px solid #ddd;
	padding: 0;
	margin: 0 0 15px 15px;
}

.ratings {
	padding-right: 10px;
	padding-left: 10px;
	color: #d17581;
}

.thumbnail img {
  height: 200px;
}

footer {
	margin: 50px 0;
}

.navbar-inverse {
	background-color: #4ba5a5;
	border: 0;
	color: #FFFFFF;
}

.navbar-inverse a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF !important;
}